---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #071047;
  background-image: linear-gradient(120deg, #0D2168, #071047);
}

.project-name {
  background: url(https://i.imgur.com/9K8iyuN.png) no-repeat center center;
}

.project-name h1 {
  color: transparent;
}

.core-image {
  width: 32px;
  height: 32px;
}
