---
---

@import "{{ site.theme }}";

body {
  background-color: #F2F2F2;
}

.page-header {
  background-color: #1A1A1A;
  background-image: none;
}

.project-name {
  background: url(https://i.imgur.com/zZoS4z0.png) no-repeat center center;
  color: transparent;
  background-size: contain;
  user-select: none;
}

.core-image {
  width: 32px;
  height: 32px;
}

a {
  color: #1A1A1A;
}
